div.card {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background: rgba(160, 185, 135, 0.5);
  border-radius: 3px;
  border: darkolivegreen 2px solid;
}



div.vip {
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border: #FFD700 3px solid;
}

button.add-character {
  margin: 10px;
}
