.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.add-box {
  position: fixed;
  top: 30vh;
  left: 30vw;
  width: 40vw;
  padding: 15px;
  z-index: 20;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 0.5em;
}
